<section class="cart ">
 <% if(!session.cart){ %>
<div class="empty-cart py-1 ">
    <h1 class="  text-center text-2xl font-bold">Your cart is empty</h1>
    <h2 class=" pb-2 text-center text-lg font-bold">You can go home page to view more items</h2>
    <hr>
 <img class="w-2/5 mx-auto" src="img/empty-cart.jpg" alt="">
 <hr>
</div>
<% } %> 
<% if(session.cart) { %> 
<div class="full-cart ">
    <h1 class="text-center text-2xl py-2">Available Items In Cart</h1>
 
     <h4 class="text-center text-green-500 text-sm">Please refresh after deletion</h4>
   
    <hr>
    <% for(let element of Object.values(session.cart.items)){ %>
      
    
      
   
    <div class="flex items-center justify-between px-60">
    <div class=" flex py-4 items-center" >
  <div>
    <img class="w-32 " src="img/<%=element.item.img%>" alt="">
  </div>
   <div class="mx-6">
    <h2><%=element.item.P_name%></h2>
   </div>
   <div>
      <span class="pr-1">Qty:</span><span class="mr-2"> <%= element.qty %> </span>
    </div>
   </div>
   <div class="flex items-center justify-between">
    
   <div class="pr-32">
    <span>₹<%= element.item.Price %> </span> 
   </div>
   <div>
    
    <button data-item="<%=JSON.stringify(element)  %>"  id="delete-btn" class="card-button px-3 py-1 items-center rounded-full text-xl">
                <span class="mx-2">-</span><span>less</span>
    </button>
  
</div>
</div>
</div>

<% }; %> 

  <hr>
<div class=" px-60 flex justify-between py-2">
  <div>
   <span >Total Price </span> 
  </div>
  
  <div>
    <span ><%= session.cart?session.cart.totalPrice:0  %>  </span>
 </div>
 <div>
 <% if(user){ %> 
  
    <button class="card-button px-3 py-1 items-center rounded-full text-xl"><a href="/customer/address">Proceed</a></button> 

<% } else { %> 
  <button class="card-button px-3 py-1 items-center rounded-full text-xl"><a href="/login">Login to Proceed</a></button> 
  <% }  %> 
  </div>
</div>
<% } %> 
</section>